.node text {
  font-size: 11px;
  font-family: "courier";
  stroke: none;
  fill: black;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

h3 {
  color: #1ABC9C;
  text-align: center;
  font-size: 14px;
  font-family: "courier";
}
